<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-8 attribution">
        {% block footer_attribution %}
          <p><strong>{{ _('© 2020 - Copyright') }}</strong></p>
          <img class="ckan-footer-logo-custom" src="/base/images/logo-VNPTIT.png">
          <p>{{ _('VNPT INFORMATION TECHNOLOGY COMPANY') }}</p>
        {% endblock %}
        {%block footer_address%}
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ _('57 Huỳnh Thúc Kháng - Đống Đa - Hà Nội') }}
          </P>
        {% endblock %}
        {%block footer_phone%}
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            {{ _('0243.553.3388') }}
          </P>
        {% endblock %}
        {%block footer_fax%}
          <p>
            <i class="fa fa-fax" aria-hidden="true"></i>
            {{ _('0243.385.5588') }}
          </P>
        {% endblock %}
      </div>
      <div class="col-md-4 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><a href="#"><p>{{ _('Contact Us') }}</P></a></li>
            {% endblock %}
          </ul>
          <ul class="list-unstyled">
            {% block footer_links_opendata %}
              <li><a href="#"><p>{{ _('Terms of service') }}</P></a></li>
              <li><a href="#"><p>{{ _('Privacy Policy') }}</P></a></li>
              <li><a href="#"><p>{{ _('Terms of use') }}</P></a></li>
              <li><a href="#"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
            {% endblock %}
          </ul>
            {% block footer_lang %}
              {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
