{% ckan_extends %} 
{% block nav_stats %}{% set stats = h.get_site_statistics() %}
    <div class="panel panel-primary" style="margin: auto;border-color: #ffffff;">
      <div class="panel-heading">
        <h2 class="pane-title">{{ _('Statistic') }}</h2>
      </div>
      <div class="panel-body">
        <div class="topics-section">
          <div class="container">
            <div class="topics-row">
              <div class="topic-container active">
                <a class="ga-topic-selector" data-ga="Datasets" href="{{ h.url_for(controller='package', action='search') }}" title="{{ _('Datasets') }}">
                  <div class="topic-link-container">
                    <div class="topic-link">
                      <i class="fa fa-database fa-5x" aria-hidden="true"></i>
                      <h4 class="topic-title">{{ h.SI_number_span(stats.dataset_count) }} {{ _('datasets') if stats.dataset_count == 1 else _('Datasets') }}</h4>
                    </div>
                  </div>
                </a>
              </div> 
              <div class="topic-container ">
                <a class="ga-topic-selector" data-ga="Organizations" href="{{ h.url_for(controller='organization', action='index') }}" title="{{ _('Organizations') }}">
                  <div class="topic-link-container">
                    <div class="topic-link">
                      <i class="fa fa-building-o fa-5x"  aria-hidden="true"></i>
                      <h4 class="topic-title">{{ h.SI_number_span(stats.organization_count) }} {{ _('organizations') if stats.organization_count == 1 else _('Organizations') }}</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="topic-container ">
                <a class="ga-topic-selector" data-ga="Groups" href="{{ h.url_for(controller='group', action='index') }}" title="{{ _('Groups') }}">
                  <div class="topic-link-container">
                    <div class="topic-link">
                      <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                      <h4 class="topic-title">{{ h.SI_number_span(stats.group_count) }} {{ _('groups') if stats.group_count == 1 else _('Groups') }}</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="topic-container ">
                <a class="ga-topic-selector" data-ga="Users" href="{{ h.url_for(controller='user', action='index') }}" title="{{ _('Users') }}">
                  <div class="topic-link-container">
                    <div class="topic-link">
                      <i class="fa fa-user fa-5x"></i>
                      <h4 class="topic-title">{{ h.SI_number_span(stats.user_count) }} {{ _('users') if stats.group_count == 1 else _('Users') }}</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
{% endblock %}