{% ckan_extends %}
{% block site_header %}
 <header class="site-header " style="background-image: url(/base/images/bg-timkiem.png)">
    <h1 class="headline container text-center">
      {{ _('Open Data') }}
    </h1>    
   <div class="container-custom">
      <div class="search-box-w-buttons">  
        <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
          <div class="search-input form-group search-giant" >
            <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{{ _('Search dataset (E.g. environment)') }}"
            />
            <button type="submit" title="{{ _('Search') }}">
              <i class="fa fa-search"></i>
              <span class="sr-only">{{ _('Search') }}</span>
            </button>
          </div>
        </form>

        <div class="search-buttons">
          <a class="btn data-btn btn-right btn-orange ga-view-dataset-list" href="{% url_for controller='package', action='search' %}" title="{{ _('View All Datasets') }}"">
            <img class="button-icon" src="/base/images/View-eye.svg">
              {{ _('View All Datasets') }}
          </a>    
        </div>
      </div>
    </div>
  </header>
{% endblock %}