{% ckan_extends %}
{% block layout %}
    {% block carousel %} {% snippet 'home/snippets/site_header.html' %} {% endblock %} 
    <main class="site-main">
    {% block nav %} {% snippet 'home/snippets/nav-stats.html' %} {% endblock %}
    {% block topic %} {% snippet 'home/snippets/topic.html' %}{% endblock %}


    {% block graph %} {% snippet 'home/snippets/graph_dataset.html' %} {% endblock %}
</main>

<style>
    .heading {
        line-height: 1.3;
        color: #505254;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 22px;
    }
    /* Remove the navbar's default margin-bottom and rounded borders */
    
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    
    @media (max-width: 600px) {
        .carousel-caption {
            display: none;
            

        }
    }
</style>
{% endblock %}