#file-upload-to-cloud {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload::after {
    content: "";
}

.carousel .item {
    height: 500px;
    background-color: #bbb;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

#searchForm {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    z-index: 5;
    left: 15%;
    right: 15%;
    max-width: 600px;
    margin: 0 auto;
}

.custom-p {
    color: aliceblue;
    font-size: 20px;
    background-color: rgba(29, 60, 81, 0.72);
    border-radius: 15px 15px;
    width: 900px;
}

.custom-h2-carousel {
    color: black;
    font-size: 37px;
}

.custom-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.custom-nav-li {
    float: left;
    width: 25%;
    height: 55px;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.custom-nav-a {
    display: block;
    color: rgb(28, 36, 100);
    text-align: center;
    padding: 10px 10px 20px 20px;
    text-decoration: none;
}


/* RESPONSIVE CSS
  ---------------------------------------------768px----- */

@media (max-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

@media (min-width: 768px) {
    [role=main],
    .main {
        padding-top: 10px;
        background: #f5f5f5;
    }
}

.site-footer {
    margin-bottom: initial;
    padding: 10px 0;
    color: #ffffff;
    background: #2974b2;
    padding: 20px 0;
}

.account-masthead {
    background: rgb(215, 222, 225);
}

.masthead {
    margin-bottom: initial;
    padding: 10px 0;
    color: #ffffff;
    background: #337ab7;
}

.account-masthead .account ul li a {
    display: block;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}

.masthead .nav>li>a,
.masthead .nav>li>a:focus,
.masthead .nav>li>a:hover,
.masthead .nav>.active>a,
.masthead .nav>.active>a:hover,
.masthead .nav>.active>a:focus {
    color: white;
    text-shadow: none;
}

.masthead .navigation .nav-pills li a:hover {
    background-color: rgb(48, 48, 48);
    color: white;
}

.media-item {
    position: relative;
    float: left;
    width: 150px;
    padding: 15px;
    margin: 0 0 15px 15px;
    background-color: white;
    border-radius: 3px;
    height: 229px;
}

.media-item .media-image {
    margin-bottom: 5px;
    height: 100px;
}

.attribution .ckan-footer-logo {
    display: block;
    width: 188px;
    height: 50px;
    margin-top: 2px;
    background: url("../../../base/images/logo-VNPTIT.png") no-repeat top left;
    text-indent: -900em;
}

.ckan-footer-logo-custom {
    max-height: 45px;
    max-width: 178px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .masthead .navbar-collapse {
        float: right;
    }
}

.search-box-w-buttons .search-buttons {
    padding-top: 23px;
    display: table;
    margin: auto;
}

.data-btn.btn-orange {
    color: #fff;
    background-color: #FF7733;
}

.data-btn {
    transition: all .1s ease-in-out;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 14px;
    margin-left: 6px;
    font-size: 15px;
    font-weight: 300;
}

.button-icon {
    height: 1em;
    padding-right: 5px;
    vertical-align: text-top;
}

#viewAllDatasets {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    z-index: 5;
    left: 15%;
    right: 15%;
    max-width: 300px;
    margin: 0 auto;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    float: unset;
    padding: 2px 2px 8px;
    position: relative;
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: bold;
}

.panel-primary {
    border-color: white;
}

.pane-title::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    margin: 0 0 0 -25px;
    border: 20px solid;
    border-top-color: currentcolor;
    border-top-width: 20px;
    border-right-color: currentcolor;
    border-right-width: 20px;
    border-bottom-color: currentcolor;
    border-bottom-width: 20px;
    border-left-color: currentcolor;
    border-left-width: 20px;
    border-width: 25px 21px;
    border-color: #337ab7 transparent transparent;
}

.h4-nav-stats {
    font-size: 20px;
}

.custom-nav-li:hover {
    background-color: #d2eef9;
}

.panel-body {
    padding: 15px;
}

.site-header {
    min-height: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #113355;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .site-header {
        min-height: 30vw;
    }
}

.site-header .headline {
    margin-top: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    font-size: 48px;
    color: black;
    font-family: "Roboto";
}

@media (max-width: 767px) {
    .site-header .headline {
        font-size: 30px;
    }
}

.search-box-w-buttons {
    max-width: 700px;
    margin: 0 auto;
}

.site-header .search-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
    .search-box-w-buttons .search-box {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.search-form .search-input.search-giant input[type="text"] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    line-height: normal;
    z-index: 0;
}

.search-box-w-buttons .search-buttons {
    padding-top: 23px;
    display: table;
    margin: auto;
}

@media (max-width: 767px) {
    .search-box-w-buttons .search-box input[type="text"] {
        font-size: 16px;
    }
}

.search-box button img {
    height: 20px;
}

@media (max-width: 767px) {
    .search-box-w-buttons .search-form .search-input.search-giant input {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .search-form .search-input.search-giant button i {
        font-size: 23px;
        width: 28px;
    }
}

.data-btn.btn-orange {
    color: #fff;
    background-color: #FF7733;
}

.datag-btn {
    transition: all .1s ease-in-out;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 14px;
    margin-left: 6px;
    font-size: 15px;
    font-weight: 300;
}

.data-btn.btn-right {
    float: right;
}

.button-icon {
    height: 1em;
    padding-right: 5px;
    vertical-align: text-top;
}

.topics-section {
    padding-top: 10px;
    background: white;
}

.topics-section .container .topics-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .topics-section .container .topics-row .topic-container {
        flex-basis: 20%;
    }
}

@media (max-width: 767px) {
    .panel-body .topics-section .container .topics-row .topic-container {
        flex-basis: 40.3%;
    }
}

@media (max-width: 767px) {
    .panel-body .topics-section .container .topics-row .topic-container .topic-link .fa-5x {
        font-size: 3em;
    }
}

@media (max-width: 767px) {
    .panel-body .topics-section .container .topics-row .topic-container .topic-link .topic-title {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .panel-heading {
        height: 60px;
    }
}

@media (max-width: 767px) {
    .pane-title {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .pane-title::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        margin: 0 0 0 -25px;
        border: 20px solid;
        border-top-color: currentcolor;
        border-top-width: 20px;
        border-right-color: currentcolor;
        border-right-width: 20px;
        border-bottom-color: currentcolor;
        border-bottom-width: 20px;
        border-left-color: currentcolor;
        border-left-width: 20px;
        border-color: #337ab7 transparent transparent;
    }
}

.topics-section .container .topics-row .topic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    margin-bottom: 20px;
}

.topics-section .container .topics-row .topic-container .topic-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
}

.topics-section .container .topics-row .topic-container .topic-link-container .topic-link {
    display: block;
    text-align: center;
}

.topics-section .container .topics-row .topic-container .topic-link-container .topic-title {
    color: #113355;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.media-grid-2 {
    padding-left: 0;
    margin: 0;
    list-style: none;
    min-height: 205px;
    padding-top: 15px;
    background: #ffffff;
    border-width: 1px 0;
}

.search-form {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 1px;
}

.logo-google-play {
    max-height: 45px;
    max-width: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-app-store {
    max-height: 33px;
    max-width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .container-custom {
        margin-left: 0;
        margin-right: 0;
    }
}

.container-custom {
    padding-left: 30px;
    padding-right: 30px;
}

.site-main {
    overflow: hidden;
}

@media (max-width: 767px) {
    .media-item .media-image {
        margin-bottom: 5px;
        height: 80px;
    }
}

@media (max-width: 767px) {
    .media-heading {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .row .col-lg-6 .panel.panel-danger .panel-body .embed-responsive-custom {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
    .row .col-lg-6 .panel.panel-danger .panel-body .embed-responsive-4by3-custom {
        padding-bottom: 75%;
    }
    .embed-responsive-custom iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@media (max-width: 767px) {
    .toolbar .breadcrumb a {
        color: #505050;
        text-shadow: none;
    }
}

@media (max-width: 768px) {
    [role=main],
    .main {
        padding-top: 10px;
        background: #f5f5f5;
    }
}

[role=main] {
    min-height: 350px;
    background: #f5f5f5;
}

.navbar {
    margin-bottom: 0px;
}

.account-masthead .account ul li {
    display: block;
    float: left;
    border-left: 0;
}